<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="./css/login.css" type="text/css" />

<div class="login-container">
    <img src="./assets/images/logo.png" alt="Churrasco Logo" class="logo">

    <form id="loginForm">
        <div class="mb-1 input-group">
            <div class="input-group-prepend">
                <span class="input-group-texto"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
        </div>
        
        <div class="mb-1 input-group">
            <div class="input-group-prepend">
                <span class="input-group-texto"><i class="fa fa-lock"></i></span>
            </div>
            <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary w-100">Log in</button>
    </form>
</div>

 
