<link rel="stylesheet" href="./css/products.css" type="text/css" />
<div class="container my-5">
    <div class="d-flex justify-content-end mb-4">
        <button id="addProductBtn" class="btn btn-success" onclick="handleNuevoProducto();">Agregar producto</button>        
    </div>
    <div id="loadingSpinner" style="display: none; text-align: center;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p>Cargando productos, por favor espere...</p>
    </div>
    <div class="row" id="product-list">
        
    </div>
    <nav>
        <ul id="pagination" class="pagination justify-content-center"></ul>
    </nav>
</div>

<script src="/js/products.js"></script>